USE [DB1380_Inter2010]
GO
/****** Object:  User [DB1380_Inter2010]    Script Date: 11/04/2010 16:57:43 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'DB1380_Inter2010')
CREATE USER [DB1380_Inter2010] FOR LOGIN [DB1380_Inter2010] WITH DEFAULT_SCHEMA=[DB1380_Inter2010]
GO
/****** Object:  Table [dbo].[Interesse]    Script Date: 11/04/2010 16:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Interesse]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Interesse](
	[interestId] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](255) NOT NULL,
	[descricao] [varchar](255) NULL,
 CONSTRAINT [PK_Interesse] PRIMARY KEY CLUSTERED 
(
	[interestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comunidade]    Script Date: 11/04/2010 16:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Comunidade]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Comunidade](
	[comunidadeId] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](255) NULL,
	[descricao] [varchar](255) NULL,
	[categoriaId] [int] NOT NULL,
 CONSTRAINT [PK_Comunidade] PRIMARY KEY CLUSTERED 
(
	[comunidadeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/04/2010 16:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Usuario](
	[idusuario] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[senha] [varchar](50) NOT NULL,
	[nickname] [varchar](255) NULL,
	[nome] [varchar](255) NULL,
	[sobrenome] [varchar](255) NULL,
	[sexo] [char](1) NULL,
	[mensagemPessoal] [text] NULL,
	[imagemPerfil] [varchar](255) NULL,
	[dtnasc] [datetime] NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON
INSERT [dbo].[Usuario] ([idusuario], [email], [senha], [nickname], [nome], [sobrenome], [sexo], [mensagemPessoal], [imagemPerfil], [dtnasc]) VALUES (2, N'worf@worf.com', N'123', N'12334', N'123', N'123', N'M', N'oioioioioioi
tudo bem contigo?', N'http://blug.com.br/exodus/macaco.jpg', CAST(0x00009E10001099E5 AS DateTime))
INSERT [dbo].[Usuario] ([idusuario], [email], [senha], [nickname], [nome], [sobrenome], [sexo], [mensagemPessoal], [imagemPerfil], [dtnasc]) VALUES (3, N'rosa@vermelho.com.br', N'123', N'rosinha', N'Rosa', N'Rosalina', N'F', N'MP MP MPMPMPMPMPMPMPMPMPM', N'http://media.giantbomb.com/uploads/0/137/435391-kaneda_large.jpg', CAST(0x00009E130175A052 AS DateTime))
INSERT [dbo].[Usuario] ([idusuario], [email], [senha], [nickname], [nome], [sobrenome], [sexo], [mensagemPessoal], [imagemPerfil], [dtnasc]) VALUES (4, N'oi@oi.com', N'oi', N'oi nick', N'oi nome', N'oi sobrenome', N'F', N'oi mp mp mp mp', N'http://profile.ak.fbcdn.net/hprofile-ak-snc4/hs304.ash1/23283_108594729159967_3888_q.jpg', CAST(0x0000739C00000000 AS DateTime))
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Usuario] OFF
/****** Object:  Table [dbo].[RelProfileComunidade]    Script Date: 11/04/2010 16:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RelProfileComunidade]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RelProfileComunidade](
	[profileId] [int] NOT NULL,
	[comunidadeId] [int] NOT NULL,
 CONSTRAINT [PK_RelProfileComunidade] PRIMARY KEY CLUSTERED 
(
	[profileId] ASC,
	[comunidadeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RelPerfilInteresse]    Script Date: 11/04/2010 16:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RelPerfilInteresse]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RelPerfilInteresse](
	[profileId] [int] NOT NULL,
	[interestId] [int] NOT NULL,
 CONSTRAINT [PK_RelPerfilInteresse] PRIMARY KEY CLUSTERED 
(
	[profileId] ASC,
	[interestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RelAmigo]    Script Date: 11/04/2010 16:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RelAmigo]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RelAmigo](
	[profileId] [int] NOT NULL,
	[amigoId] [int] NOT NULL,
 CONSTRAINT [PK_RelAmigo] PRIMARY KEY CLUSTERED 
(
	[profileId] ASC,
	[amigoId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Post]    Script Date: 11/04/2010 16:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Post]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Post](
	[postId] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](255) NOT NULL,
	[conteudo] [text] NOT NULL,
	[comunidadeId] [int] NOT NULL,
	[profileId] [int] NOT NULL,
	[topicoId] [int] NOT NULL,
 CONSTRAINT [PK_Topico] PRIMARY KEY CLUSTERED 
(
	[postId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_Post_Comunidade]    Script Date: 11/04/2010 16:57:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Post_Comunidade]') AND parent_object_id = OBJECT_ID(N'[dbo].[Post]'))
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Comunidade] FOREIGN KEY([comunidadeId])
REFERENCES [dbo].[Comunidade] ([comunidadeId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Post_Comunidade]') AND parent_object_id = OBJECT_ID(N'[dbo].[Post]'))
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Comunidade]
GO
/****** Object:  ForeignKey [FK_Post_Post]    Script Date: 11/04/2010 16:57:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Post_Post]') AND parent_object_id = OBJECT_ID(N'[dbo].[Post]'))
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Post] FOREIGN KEY([topicoId])
REFERENCES [dbo].[Post] ([postId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Post_Post]') AND parent_object_id = OBJECT_ID(N'[dbo].[Post]'))
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Post]
GO
/****** Object:  ForeignKey [FK_RelAmigo_Perfil1]    Script Date: 11/04/2010 16:57:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelAmigo_Perfil1]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelAmigo]'))
ALTER TABLE [dbo].[RelAmigo]  WITH CHECK ADD  CONSTRAINT [FK_RelAmigo_Perfil1] FOREIGN KEY([profileId])
REFERENCES [dbo].[Usuario] ([idusuario])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelAmigo_Perfil1]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelAmigo]'))
ALTER TABLE [dbo].[RelAmigo] CHECK CONSTRAINT [FK_RelAmigo_Perfil1]
GO
/****** Object:  ForeignKey [FK_RelAmigo_Perfil3]    Script Date: 11/04/2010 16:57:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelAmigo_Perfil3]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelAmigo]'))
ALTER TABLE [dbo].[RelAmigo]  WITH CHECK ADD  CONSTRAINT [FK_RelAmigo_Perfil3] FOREIGN KEY([amigoId])
REFERENCES [dbo].[Usuario] ([idusuario])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelAmigo_Perfil3]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelAmigo]'))
ALTER TABLE [dbo].[RelAmigo] CHECK CONSTRAINT [FK_RelAmigo_Perfil3]
GO
/****** Object:  ForeignKey [FK_RelPerfilInteresse_Interesse]    Script Date: 11/04/2010 16:57:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelPerfilInteresse_Interesse]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelPerfilInteresse]'))
ALTER TABLE [dbo].[RelPerfilInteresse]  WITH CHECK ADD  CONSTRAINT [FK_RelPerfilInteresse_Interesse] FOREIGN KEY([interestId])
REFERENCES [dbo].[Interesse] ([interestId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelPerfilInteresse_Interesse]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelPerfilInteresse]'))
ALTER TABLE [dbo].[RelPerfilInteresse] CHECK CONSTRAINT [FK_RelPerfilInteresse_Interesse]
GO
/****** Object:  ForeignKey [FK_RelPerfilInteresse_Perfil]    Script Date: 11/04/2010 16:57:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelPerfilInteresse_Perfil]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelPerfilInteresse]'))
ALTER TABLE [dbo].[RelPerfilInteresse]  WITH CHECK ADD  CONSTRAINT [FK_RelPerfilInteresse_Perfil] FOREIGN KEY([profileId])
REFERENCES [dbo].[Usuario] ([idusuario])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelPerfilInteresse_Perfil]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelPerfilInteresse]'))
ALTER TABLE [dbo].[RelPerfilInteresse] CHECK CONSTRAINT [FK_RelPerfilInteresse_Perfil]
GO
/****** Object:  ForeignKey [FK_RelProfileComunidade_Comunidade]    Script Date: 11/04/2010 16:57:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelProfileComunidade_Comunidade]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelProfileComunidade]'))
ALTER TABLE [dbo].[RelProfileComunidade]  WITH CHECK ADD  CONSTRAINT [FK_RelProfileComunidade_Comunidade] FOREIGN KEY([comunidadeId])
REFERENCES [dbo].[Comunidade] ([comunidadeId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelProfileComunidade_Comunidade]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelProfileComunidade]'))
ALTER TABLE [dbo].[RelProfileComunidade] CHECK CONSTRAINT [FK_RelProfileComunidade_Comunidade]
GO
/****** Object:  ForeignKey [FK_RelProfileComunidade_Perfil]    Script Date: 11/04/2010 16:57:43 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelProfileComunidade_Perfil]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelProfileComunidade]'))
ALTER TABLE [dbo].[RelProfileComunidade]  WITH CHECK ADD  CONSTRAINT [FK_RelProfileComunidade_Perfil] FOREIGN KEY([profileId])
REFERENCES [dbo].[Usuario] ([idusuario])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RelProfileComunidade_Perfil]') AND parent_object_id = OBJECT_ID(N'[dbo].[RelProfileComunidade]'))
ALTER TABLE [dbo].[RelProfileComunidade] CHECK CONSTRAINT [FK_RelProfileComunidade_Perfil]
GO
