*{
	/* A universal page reset */
	margin:0;
	padding:0;
}

body{
	/* Setting default text color, background and a font stack */
	font-size:14px;
	color:#fcfcfc;
	background-color:#0d4362;
	font-family:Arial, Helvetica, sans-serif;
}

/* The bouncing box */

.box{
	background:url('../images/box_bg.jpg') repeat-x center top #fcfcfc;
	height:150px;
	padding:20px;
	margin-top:-10px;
	padding-top:30px;
	width:400px;
	border:1px solid #fcfcfc;
	color:#494848;
	text-shadow:1px 1px 0 white;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
}

.box p{
	font-size:25px;
	background:url('../images/warning.png') no-repeat 10px center;
	padding-left:90px;
}

.box p b{
	font-size:52px;
	display:block;
}

.box label{
    display: block;
    width: 150px;
    float: left;
    margin: 1px;
    text-align: right;
    padding: 0 10px;    
}

.box errorCode{
    color:red;
    display:block;
    font-size:26px;
    left:54%;
    position:absolute;
    top:31%;
}

.cadastro{
    height: 510px;
    position: absolute;
    top: 20%;
    left: 33%;
    z-index: 10;
}

.cadastro errorCode{
    font-size:16px;
    left:35%;
    top:94%;
    text-align: center;
}

.box,
#main,
a.button{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Styling the big button */

a.button{
	color:white;
	letter-spacing:-2px;
	padding:20px;
	display:block;
	text-shadow:1px 1px 0 #145982;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size:80px;
	font-weight:bold;
	text-align:center;
	width:350px;
	border:1px solid #60b4e5;
	
	margin:60px auto;
	
	/*
		CSS3 gradients for webkit and mozilla browsers,
		fallback color for the rest:
	*/
	
	background-color: #59aada;
	background-image: -moz-linear-gradient(#5eb2e2, #4f9cca);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5eb2e2), to(#4f9cca));
}

a.button:hover{
	text-decoration:none;
	background-color: #5eb2e2;
	background-image: -moz-linear-gradient(#6bbbe9, #57a5d4);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6bbbe9), to(#57a5d4));
}

/* Only needed for the demonstration page */

#main{
	background-color:#073753;
	height:500px;
	margin:140px auto 50px;
	padding:90px 30px 0;
	position:relative;
	width:640px;
}

#main p{
	color:#ccc;
	font-size:19px;
	line-height:1.4;
	margin-bottom:20px;
	text-align:center;
}

#main p strong{
	color:white;
}

h1{
	padding:30px 0;
	text-align:center;
	text-shadow:0 1px 1px black;
	margin-bottom:30px;
	font-size:24px;
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

/*.errorCode{
  font: 10px sans-serif;
  color: red;
}*/

#botao {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-color:#59AADA;
    background-image:-moz-linear-gradient(#5EB2E2, #4F9CCA);
    border:1px solid #60B4E5;
    color:white;
    display:block;
    font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
    font-size:20px;
    font-weight:bold;
    letter-spacing:-1px;
    position: relative;
    margin:auto 30% 30%;
    padding:2px;
    text-align:center;
    text-shadow:1px 1px 0 #145982;
    width:200px;    
}
#botao:hover{
	background-color: #5eb2e2;
	background-image: -moz-linear-gradient(#6bbbe9, #57a5d4);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6bbbe9), to(#57a5d4));
}

br { clear: left; }
.Date{
    width: 15px
}
.ano{
    width: 30px;
}
.MP{
    height:50px;
    width:150px;
}

.box,
.ajax{
	background:url('../images/box_bg.jpg') repeat-x center top #fcfcfc;
	padding:20px;
	margin-top:-10px;
	padding-top:30px;
	width:500px;
	border:1px solid #fcfcfc;
	color:#494848;
	text-shadow:1px 1px 0 white;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
}

.ajax{
    height: 600px;
    position: absolute;
    top: 20%;
    left: 33%;
    z-index: 10;
}

.table
{
    border: 1px;
    border-style: hidden;
    font-family: 'Myriad Pro',Arial,Helvetica,sans-serif;
    text-align: center;
    top: 20%;
    left: 33%;
}