<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>deriva.app.SignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOut</servlet-name>
        <servlet-class>deriva.app.SignOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>deriva.app.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUrso</servlet-name>
        <servlet-class>deriva.app.ListaUrso</servlet-class>
    </servlet>
    <servlet>
        <description>Cadastra</description>
        <servlet-name>Cadastra</servlet-name>
        <servlet-class>deriva.app.Cadastra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPerfil</servlet-name>
        <servlet-class>deriva.app.EditarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarPerfil</servlet-name>
        <servlet-class>deriva.app.SalvarPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/SignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOut</servlet-name>
        <url-pattern>/SignOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUrso</servlet-name>
        <url-pattern>/ListaUrso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastra</servlet-name>
        <url-pattern>/Cadastra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPerfil</servlet-name>
        <url-pattern>/EditarPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarPerfil</servlet-name>
        <url-pattern>/SalvarPerfil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>datasource</description>
        <res-ref-name>jdbc/dslab2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
